* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body::before{
    content: '';      /*The body's before pseudoelement has 0 content */
    position: fixed;  /*Using fixed to  make sure it doesn't move when page is scrolled*/
    top: 0;
    left: 0;
    height: 100%;     /*Pseudoelement takes full height and width of the viewport*/
    width: 100%;
    z-index: -1;      /*The pseudoelement is rendered below actual content*/
    background-image: url(./assets/asgardianlibrary.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1 {
    margin-top: 1em;
    font-weight: 900;  
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    text-align: center;
    font-size: larger;
    margin-top: 2em;
    padding: 2rem;
    
    text-wrap: wrap;
    line-height: 2em;
}

.body-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "grid-book grid-book book-stat"
        "grid-book grid-book new-btn"
        "grid-book grid-book new-btn";
    margin-top: 2em;
    gap: 2rem;
}

#grid-book {
    grid-area: grid-book;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

#book-stat {
    grid-area: book-stat;
    padding: 2rem;
    text-align: left;
    text-wrap: wrap;
    line-height: 2em;
    background-color: gold;
    border-radius: 20px;
    box-shadow: 0 0 2px 2px gold;
}

#new-btn {
    grid-area: new-btn;
    align-items: center;
    justify-self: center;
    padding: 2em;
}

#new-btn > button {
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    border-width: 0;
    background-color: gold;
    box-shadow: 0 0 2px 2px gold;
}

.book {
    width: 20rem;
    height: 20rem;
    gap: 5rem;
    padding: 2rem;
    text-align: left;
    text-wrap: wrap;
    line-height: 2em;
    background-color: gold;
    border-radius: 25px;
    box-shadow: 0 0 2px 2px gold;
}

#footer-text {
    margin-top: 2em;
    align-items: center;
    font-size: larger;
    text-decoration: none;
    padding: 1em;
    vertical-align: middle;
    
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
    vertical-align: middle;
    
}
a:visited {
    text-decoration: none;
    color: black;   
    text-align: center;
    vertical-align: middle;
    
}

#footer-git{
    vertical-align: sub;
}
